.root{
    -fx-font-size: 11pt;
    -fx-font-family: "Verdana";
    -fx-background: transparent;
    -fx-background-image: url("wood.jpg");
    -fx-base: #D3C5B5;
}

*.tab-header-background {
    -fx-background-color: white;
    -fx-opacity: 0.2;
}

.wood-shifted {
    -fx-background-image: url("wood.jpg");
    -fx-background-position: -20px -58px;
}

.button-group {
    -fx-border-color: #B3A595;
    -fx-border-radius: 5;
}